<form *ngIf="campeonato">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{campeonato.nombre}}</h1>
      <h4 class="card-title">Campeonato de {{campeonato.disciplina}}</h4>
      <h5 class="card-title">Cantidad de equipos/participantes: {{campeonato.cantParticipantes}}</h5>
    </div>
    <div class="btn-group">
      <a id="botones" class="btn btn-outline-secondary" (click)="atras()">Atras</a>
      <a id="botones" class="btn btn-outline-primary" (click)="editar()">Editar</a>
    </div>
  </div>
  <div class="alert alert-danger" id="mensaje" role="alert" *ngIf="mensajeError">
    {{mensajeError}}
  </div>
  <div class="card">
    <div class="card-body">
      <button type="button" id="botonDer" class="btn btn-outline-success" (click)="nuevoEquipo()">+</button>
      <h5 class="card-title">Lista de Equipos/Participantes</h5>
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Club</th>
            <th scope="col">Pais</th>
            <th scope="col">Responsable</th>
            <th scope="col">Jugadores</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of campeonato.equipos" (click)="verDetallesEquipo(e.id)">
            <td>{{e.id}}</td>
            <td>{{e.nombre}}</td>
            <td>{{e.club}}</td>
            <td>{{e.pais}}</td>
            <td>{{e.responsable}}</td>
            <td>{{e.cantJugadores}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="boton">
    <button type="btn-group"  class="btn btn-outline-success" (click)="comenzar()">
      COMENZAR
    </button>
  </div>
</form>