<div class="card mx-auto" *ngIf="equipo">
  <div class="card-body">
    <h1 class="card-title">Inscripcion de un Equipo</h1>

    <div class="alert alert-danger" id="centrado" role="alert" *ngIf="mensajeError">
      {{mensajeError}}
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Nombre:</span>
      </div>
      <input type="text" class="form-control" name='nombre' [(ngModel)]="equipo.nombre" placeholder="Nombre">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Club:</span>
      </div>
      <input type="text" class="form-control" name='club' [(ngModel)]="equipo.club" placeholder="Club">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Pais:</span>
      </div>
      <input type="text" class="form-control" name='pais' [(ngModel)]="equipo.pais" placeholder="Pais">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Responsable:</span>
      </div>
      <input type="text" class="form-control" name='responsable' [(ngModel)]="equipo.responsable" placeholder="Responsable">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Cantidad de Jugadores:</span>
      </div>
      <input type="number" min="1" pattern="\d*" class="form-control" name='CantJugadores' [(ngModel)]="equipo.cantJugadores" placeholder="Cantidad de jugadores">
    </div>

  </div>
  <div class="btn-group">
    <button id="boton" class="btn btn-outline-secondary" (click)="atras()">Atras</button>
    <button id="boton" class="btn btn-outline-success" (click)="crear()">Crear</button>
  </div>
</div>