<form *ngIf="equipo">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Equipo: {{equipo.nombre}}</h1>
      <h2 class="card-title">Club "{{equipo.club}}"</h2>
      <h3 class="card-title">{{equipo.pais}}</h3>
      <h5 class="card-title">Cantidad de participantes: {{equipo.cantJugadores}}</h5>    </div>
    <div class="btn-group">
      <a id="botones" class="btn btn-outline-secondary" (click)="atras()">Atras</a>
      <a id="botones" class="btn btn-outline-primary" (click)="editar()">Editar</a>
    </div>
  </div>
  <div class="alert alert-danger" id="mensaje" role="alert" *ngIf="mensajeError">
    {{mensajeError}}
  </div>
  <div class="card">
    <div class="card-body">
      <button type="button" id="botonDer" class="btn btn-outline-success" (click)="nuevoJugador()">+</button>
      <h5 class="card-title">Plantel:</h5>
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Posicion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let j of equipo.jugadores" (click)="verDetallesJugador(j.id)">
           <td>{{j.id}}</td>
           <td>{{j.nombre}}</td>
           <td>{{j.posicion}}</td>
         </tr>
       </tbody>
      </table>
    </div>
  </div>
</form>