<div style="margin:10px">
  <h3 style="margin:10px">{{titulo}}</h3>
  <form style="width: 50% margin=15px" name="formul">
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre</label>
        <input type="text" class="form-control" name='nombre' [(ngModel)]="jugador.nombre" placeholder="Nombre">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Equipo</label>
        <input type="text" class="form-control" name='equipo' [(ngModel)]="jugador.equipo" placeholder="Equipo">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Club</label>
        <input type="text" class="form-control" name='club' [(ngModel)]="jugador.club" placeholder="Club">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Posicion</label>
        <input type="text" class="form-control" name='Posicion' [(ngModel)]="jugador.posicion" placeholder="posicion">
      </div>
    <div>
      <button (click)="crear()">Crear</button>
    </div>
    </div>
  </form>
</div>