<div class="card mx-auto" *ngIf="jugador">
  <div class="card-body">
    <h1 class="card-title">Creacion de un jugador</h1>
    <div class="alert alert-danger" role="alert" *ngIf="mensajeError">
      {{mensajeError}}
    </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nombre:</span>
        </div>
        <input type="text" class="form-control" name='nombre' [(ngModel)]="jugador.nombre" placeholder="Nombre">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Posicion:</span>
      </div>
      <input type="text" class="form-control" name='posicion' [(ngModel)]="jugador.posicion" placeholder="posicion">
      </div>

  </div>
  <div class="btn-group">
    <button id="boton" class="btn btn-outline-secondary" (click)="atras()">Atras</button>
    <button id="boton" class="btn btn-outline-success" (click)="crear()">Crear</button>
  </div>
</div>