<div class="card mx-auto" *ngIf="campeonato">
  <div class="card-body">
    <h1 class="card-title">Creacion del Campeonato</h1>
    <div class="alert alert-danger" role="alert" *ngIf="mensajeError">
      {{mensajeError}}
    </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nombre:</span>
        </div>
        <input type="text" class="form-control" name='nombre' [(ngModel)]="campeonato.nombre" placeholder="Nombre">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Disciplina:</span>
      </div>
      <input type="text" class="form-control" name='disciplina' [(ngModel)]="campeonato.disciplina" placeholder="Disciplina">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Cantidad de Participantes:</span>
      </div>
      <select class="custom-select" id="inputGroupSelect02" name="cantParticipantes" [(ngModel)]="campeonato.cantParticipantes">
          <option selected value="4">4</option>
          <option value="8">8</option>
          <option value="16">16</option>
          <option value="32">32</option>
          <option value="64">64</option>
          <option value="128">128</option>
          <option value="256">256</option>
        </select>
      </div>
  </div>
  <div class="btn-group">
    <button id="boton" class="btn btn-outline-secondary" (click)="atras()">Atras</button>
    <button id="boton" class="btn btn-outline-success" (click)="crear()">Crear</button>
  </div>
</div>